HASH256_RPC_URL=https://go.getblock.io/f020c230b345400e91ac3d93e263cd60
HASH256_SUBMIT_RPC_URL=https://rpc.flashbots.net/fast
HASH256_PRIVATE_KEY=0xxxxxxx
HASH256_THREADS=7
HASH256_SUBMIT=1
HASH256_KEEP_MINING=1
HASH256_MIN_PRIORITY_FEE_GWEI=0.5
HASH256_MAX_FEE_MULTIPLIER=3
HASH256_MAX_PENDING_SUBMISSIONS=1
